/* ===========================================================
   RESET & SEED SU25PantherDB (no master)
   - Xóa FK, xóa bảng theo đúng thứ tự phụ thuộc
   - Tạo lại bảng
   - Reseed IDENTITY
   - Nạp lại dữ liệu mẫu (giữ nguyên ID như bạn yêu cầu)
   =========================================================== */

-- 0) Bảo đảm đang ở đúng DB của bạn
USE [SU25PantherDB];
GO

-- 1) DROP CONSTRAINTS (nếu tồn tại)
IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_PantherProfile_PantherType')
BEGIN
    ALTER TABLE dbo.PantherProfile DROP CONSTRAINT FK_PantherProfile_PantherType;
END
GO

-- 2) DROP TABLES (đúng thứ tự phụ thuộc)
IF OBJECT_ID('dbo.PantherProfile', 'U') IS NOT NULL DROP TABLE dbo.PantherProfile;
IF OBJECT_ID('dbo.PantherType',    'U') IS NOT NULL DROP TABLE dbo.PantherType;
IF OBJECT_ID('dbo.PantherAccount', 'U') IS NOT NULL DROP TABLE dbo.PantherAccount;
GO

-- 3) CREATE TABLES
SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
GO

-- 3.1 PantherAccount
CREATE TABLE dbo.PantherAccount(
    AccountID INT IDENTITY(1,1) NOT NULL,
    UserName  NVARCHAR(50)  NOT NULL,
    [Password] NVARCHAR(100) NULL,
    FullName  NVARCHAR(100) NOT NULL,
    Email     NVARCHAR(150) NOT NULL,
    Phone     NVARCHAR(50)  NOT NULL,
    RoleId    INT           NOT NULL,
    CONSTRAINT PK_PantherAccount PRIMARY KEY CLUSTERED (AccountID ASC)
) ON [PRIMARY];
GO

-- 3.2 PantherType
CREATE TABLE dbo.PantherType(
    PantherTypeId   INT IDENTITY(1,1) NOT NULL,
    PantherTypeName NVARCHAR(250) NULL,
    [Origin]        NVARCHAR(250) NULL,
    [Description]   NVARCHAR(1000) NULL,
    CONSTRAINT PK_PantherType PRIMARY KEY CLUSTERED (PantherTypeId ASC)
) ON [PRIMARY];
GO

-- 3.3 PantherProfile
CREATE TABLE dbo.PantherProfile(
    PantherProfileId INT IDENTITY(1,1) NOT NULL,
    PantherTypeId    INT NOT NULL,
    PantherName      NVARCHAR(150) NOT NULL,
    [Weight]         FLOAT NOT NULL,
    Characteristics  NVARCHAR(2000) NOT NULL,
    Warning          NVARCHAR(1500) NOT NULL,
    ModifiedDate     DATETIME NOT NULL,
    CONSTRAINT PK_PantherProfile PRIMARY KEY CLUSTERED (PantherProfileId ASC)
) ON [PRIMARY];
GO

-- 4) Reseed identity về 0 (để ID đầu tiên = 1 khi cần IDENTITY_INSERT)
DBCC CHECKIDENT ('dbo.PantherAccount', RESEED, 0);
DBCC CHECKIDENT ('dbo.PantherType',    RESEED, 0);
DBCC CHECKIDENT ('dbo.PantherProfile', RESEED, 0);
GO

-- 5) SEED DATA (giữ nguyên ID như script gốc)
-- 5.1 PantherAccount
SET IDENTITY_INSERT dbo.PantherAccount ON;
INSERT dbo.PantherAccount (AccountID, UserName, [Password], FullName, Email, Phone, RoleId) VALUES
(1, N'admin',   N'@1', N'admin',   N'admin@Panther.com',   N'09011223435', 1),
(2, N'manager', N'@1', N'manager', N'manager@Panther.com', N'09011223440', 2),
(3, N'staff',   N'@1', N'staff',   N'staff@Panther.com',   N'09011223450', 3),
(4, N'member',  N'@1', N'member',  N'member@Panther.com',  N'09011223458', 4);
SET IDENTITY_INSERT dbo.PantherAccount OFF;
GO

-- 5.2 PantherType
SET IDENTITY_INSERT dbo.PantherType ON;
SET IDENTITY_INSERT dbo.PantherType OFF;
GO

-- 5.3 PantherProfile
SET IDENTITY_INSERT dbo.PantherProfile ON;
SET IDENTITY_INSERT dbo.PantherProfile OFF;
GO

-- 6) FK (tạo mới)
ALTER TABLE dbo.PantherProfile  WITH CHECK
ADD CONSTRAINT FK_PantherProfile_PantherType
FOREIGN KEY (PantherTypeId) REFERENCES dbo.PantherType(PantherTypeId);
GO
ALTER TABLE dbo.PantherProfile CHECK CONSTRAINT FK_PantherProfile_PantherType;
GO
